@model TagModel

@{
    ViewData["Title"] = "AddingTag";
}

<hr />
<div class="row">
    <div class="col-md-4">
        @*@int a=0;
             @Html.DropDownList("Select Tags", new List<SelectListItem>
        {
                     foreach (var i in Model)
                 {
                     new SelectListItem { Text=i.Url,Value=a}
                     }
             })*@



        @*<form asp-action="SelectFromTags">
        <input type="hidden" id="questionId" name="questionId" value=@ViewBag.questionId runat="server" />
        @*Html.DropDownListFor(x => x.Url, new SelectList(ViewBag.tags, "ID", "Url"))*@


        @*@Html.DropDownList("tag", (IEnumerable<SelectListItem>)ViewBag.Tag)
        <input type="submit" value="Select" class="btn btn-primary" />

        @Html.ActionLink("Add", "SelectFromTags", new { tag = operation })*@




        @*  <div class="form-group">
            <input type="hidden" id="questionId" name="questionId" value=@ViewBag.questionId runat="server" />

            @Html.DropDownList("tag", (IEnumerable<SelectListItem>)ViewBag.Tag)
            <input type="submit" id="tagN" name="tagN" value="Select" class="btn btn-primary" />

            @Html.ActionLink("Add", "SelectFromTags", new { Url_i = tagN })
        </div> *@





        @*<form asp-action="AddingTag">
        </form>*@

        <form asp-action="AddingTag">
            <div class="form-group">
                <input type="hidden" id="questionId" name="questionId" value=@ViewBag.questionId runat="server">
                <input name="Url_i" id="Url_i" class="form-control" />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <form asp-action="AddingTag" method="post">
            <input type="hidden" id="questionId" name="questionId" value=@ViewBag.questionId runat="server">
            @Html.DropDownListFor(x => x.Url, new SelectList(ViewBag.Tags, "Url", "Url"))
            <input type="submit" value="Add" class="btn btn-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-action="list">Back to the Questions</a>
</div>