@{
    ViewData["Title"] = "AnswersForQuestion";

}


<h2>Answers For Question</h2>

    <p> 
        @foreach (var tag in ViewBag.Tags)
        {
        
            @tag.Url  <a href ="@Url.Action("Delete Tag", "DeleteTag", new { url = tag.Url, questionID = ViewBag.Question.ID })">
                          <img src="~/images/trashcan.png" style="width: 15px; height:15px" />
            </a>
        
        } 
        
    </p>


<h2 style="width:1000px;word-break:break-word;color:mediumseagreen">Topic: @ViewBag.Question.Title</h2>
<h1 style="width:1000px;word-break:break-word;color:mediumseagreen;">@ViewBag.Question.Message</h1>
<img alt="" src="~/images/@ViewBag.Question.Image" width="200" height="200" />

<a href="~/images/@ViewBag.Question.Image" target="_Self">
    
</a>
<p style="text-align:right">
    <a>@Html.ActionLink("Add Tag", "AddingTag", new { id = ViewBag.Question.ID })</a>
    <br />
</p>

@{ if (ViewBag.Question.Image.Length > 2)
    {
        <a href="~/images/@ViewBag.Question.Image" target="_Self">
            View full size
        </a>
    }
}


<table style="border-top:groove;border-top-width:5px;border-top-color:black;">
    <tr>
        <th style="text-align:left">
            @foreach (var comment in ViewBag.CommentQ)
            {
                if (comment.Answer_ID == null)
                {
                    <div>
                        @comment.Message || @comment.SubmissionTime
                        || <a href="@Url.Action("EditComment", "Home",new { id = comment.ID})">
                            <img src="~/images/Edit.png" style="width: 19px; height:19px" />
                        </a>
                        || <a href="@Url.Action("DeleteComment", "Home",new { id = comment.ID, qid = ViewBag.Question.ID })">
                            <img src="~/images/trashcan.png" style="width: 15px; height:15px" />
                        </a>
                    </div>
                }
            }
        </th>
        <th style="text-align:right">
            <a>
                @Html.ActionLink("Add new answer", "NewAnswer", new { id = ViewBag.Question.ID })
            </a><br />
            <a>@Html.ActionLink("Comment", "NewComment", new { id = ViewBag.Question.ID })</a><br /><br />

        </th>
    </tr>
    @foreach (var item in ViewBag.Ans)
    {
        <tr><th><a></a></th>
            <th style="text-align:right">
                <a style="color:cornflowerblue">@item.TimeOfAnswer</a>
            </th>
        </tr>
        <tr>
            <th style="text-align:right">
                <a style="color:cornflowerblue">Vote rank:  @item.VoteNumber <br /><br /></a>
            </th>
        </tr>
        <tr>
            <th style="width:1000px;word-break:break-word">
                <a style="font-size:30px">@item.Message</a>
            </th>
        </tr>
        <tr>
            <th>
                @foreach (var comment in ViewBag.CommentQ)
                {
                    @if (comment.Answer_ID == item.ID)
                    {
                        <div>
                            @comment.Message || @comment.SubmissionTime
                            || <a href="@Url.Action("EditComment", "Home",new { id = comment.ID})">
                                <img src="~/images/Edit.png" style="width: 19px; height:19px" />
                            </a>
                            || <a href="@Url.Action("DeleteComment", "Home",new { id = comment.ID, qid = ViewBag.Question.ID })">
                                <img src="~/images/trashcan.png" style="width: 15px; height:15px" />
                            </a>
                        </div>
                    }
                }
            </th>
        </tr>
        <tr>
            <th>
                <img alt="" src="~/images/@item.Image" width="200" height="200" />
                @{ if (item.Image.Length > 2)
                    {
                        <a href="~/images/item.Image" target="_Self">
                            View full size
                        </a>
                    }
                }
            </th>
        </tr>
        <tr>
            <th>
                <a href="@Url.Action("AnswerVote", "Home" ,new { id=item.ID, voteValue=1 })">
                    <img src="~/images/upvote.png" style="width: 15px; height:15px" />
                </a>
                <a href="@Url.Action("AnswerVote", "Home" ,new { id=item.ID, voteValue=0 })">
                    <img src="~/images/downvote.png" style="width: 18px;height: 18px" />
                </a>
            </th>
        </tr>
        <tr style="border-bottom:groove;border-bottom-color:black;">
            <th>
                <a style="padding:0px 0px 0px 200px;" href="@Url.Action("DeleteAnswer", "Home",new { id = item.ID, qid = ViewBag.Question.ID })">
                    <img src="~/images/trashcan.png" style="width: 15px; height:15px" />
                </a>
                <a style="padding:0px 0px 0px 200px;" href="@Url.Action("EditAnswer", "Home",new { id = item.ID}, null)">
                    <img src="~/images/Edit.png" style="width: 19px; height:19px" />
                </a>
                <a style="padding:0px 0px 0px 200px;">@Html.ActionLink("Comment", "NewComment", new { id = ViewBag.Question.ID, ansID = item.ID })</a>
            </th>
        </tr>
        <tr>
            <th>
                <br />
                <br />
            </th>
        </tr>
    }
</table>