
@{
    ViewData["Title"] = "AnswersForQuestion";
}

<h1>Answers For Question</h1>

<h2>@ViewBag.Question.Title</h2>

@foreach (var item in ViewBag.Ans)
{
    <div>
        <form>
            <h4>
                @item.Message
                <a href="@Url.Action("AnswerVote", "Home",new { id = item.ID, voteValue = 1 })">
                    <img src="~/images/upvote.png" style="width: 15px; height:15px" />
                </a>
                <a href="@Url.Action("AnswerVote", "Home",new { id = item.ID, voteValue = 0 })">
                    <img src="~/images/downvote.png" style="width: 18px; height:18px" />
                </a>
                @Html.ActionLink("Delete", "DeleteAnswer", new { id = item.ID, qid = ViewBag.Question.ID })
                @Html.ActionLink("Edit", "EditAnswer", new { id = item.ID }, null)
            </h4>
        </form>
    </div>
}
