@{
    ViewData["Title"] = "DetailsOfCurrentUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Questions.Count > 0)
{
    <h1>Asked questions:</h1>
    <table class="table table-bordered table-active">

        @foreach (var question in ViewBag.Questions)
        {
            <tr>
                <td>
                    <a href="@Url.Action("AnswersForQuestion", "Home", new { id = question.ID })"> @question.Title </a>
                </td>
            </tr>
        }
    </table>
}

@if (ViewBag.Answers.Count > 0)
{
    <h1>Wrote answers:</h1>
    <table class="table table-bordered table-active">
        @{
            foreach (var question in ViewBag.Answers)
            {
                foreach (var answer in question.Value)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("AnswersForQuestion", "Home", new { id = question.Key.ID })"> @question.Key.Title </a>
                        </td>
                        <td>
                            <p>@answer.Message</p>
                        </td>
                    </tr>
                }
            }
        }
    </table>
}

@if (ViewBag.Comments.Count > 0)
{
    <h1>Wrote comments:</h1>
    <table class="table table-bordered table-active">
        @{
            foreach (var question in ViewBag.Comments)
            {
                foreach (var comment in question.Value)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("AnswersForQuestion", "Home", new { id = question.Key.ID })"> @question.Key.Title </a>
                        </td>
                        <td>
                            <p>@comment.Message</p>
                        </td>
                    </tr>
                }
            }
        }
    </table>
}
