@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div>
        <input type="text" name="search" id="search" />
        <input type="submit" value="Search" />
    </div>
}

@using (Html.BeginForm("FancySearch", "Home", FormMethod.Post))
{
    <div>
        <input type="text" name="fancysearch" id="fancysearch" />
        <input type="submit" value="Fancy Search" />
    </div>
}


<div>
    <h2>Latest Questions</h2>


    @{ foreach (var item in ViewBag.Questions)
        {
            int NumberOfAnswers = 0;
            foreach (var answer in ViewBag.Answers)
            {
                if (answer.QuestionID.Equals(item.ID))
                {
                    NumberOfAnswers++;
                }
            }

            <div class="am-card">
                <form method="get" action="/Home/AnswersForQuestion/@item.ID">
                    <button class="am-button" type="submit">
                        <div class="container">
                            <div style="overflow: hidden;">
                                <p style="float: left;">@item.TimeOfQuestion</p>
                                <p style="float: right;">Views: @item.ViewNumber</p>
                            </div>
                            <h5 style="word-break:break-word">@item.Title </h5>
                            <p class="text-content">@item.Message </p>
                            <p class="am-leftalign">Number of Answers: @NumberOfAnswers</p>
                            <p class="am-leftalign">Vote: @item.VoteNumber</p>
                        </div>
                    </button>
                </form>



            </div>
        } }
</div>
