
@{
    ViewData["Title"] = "List";
}
@model List<QuestionModel>

<h1>All questions:</h1>
<br />

@{
    if (Model.Count == 0)
    {
        <h1>No questions right now</h1>
    }
    else
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>@Html.ActionLink("Title", "SortByAttribute", new { attribute="question_title"})</th>
                <th>@Html.ActionLink("Time", "SortByAttribute", new { attribute="question_time" })</th>
                <th>@Html.ActionLink("Vote", "SortByAttribute", new { attribute="question_votenumber" })</th>
                <th>@Html.ActionLink("View number", "SortByAttribute", new { attribute="question_viewnumber" })</th>
            </tr>

            @foreach (var question in Model)
            {
                <tr>
                    <td style="word-break:break-word">@Html.ActionLink(@question.Title, "AnswersForQuestion", new { id = question.ID }, null)</td>
                    <td>@question.TimeOfQuestion</td>
                    <td>@question.VoteNumber</td>
                    <td>@question.ViewNumber</td>


                    <td>
                        <a href="@Url.Action("QuestionVote", "Home",new { id = question.ID, voteValue = 1 })">
                            <img src="~/images/upvote.png" style="width: 15px; height:15px" />
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("QuestionVote", "Home",new { id = question.ID, voteValue = 0 })">
                            <img src="~/images/downvote.png" style="width: 18px; height:18px" />
                        </a>

                    </td>

                    <td>@Html.ActionLink("Edit", "EditQuestion", new { id = question.ID }, null)</td>
                    <td> @Html.ActionLink("Write answer", "NewAnswer", new { id = question.ID }, null)</td>
                    <td>@Html.ActionLink("Delete", "DeleteQuestion", new { id = question.ID }, null)</td>
                </tr>
            }
        </table>
    }
}







@*<td>@Html.ActionLink("Details", "QuestionDetails", new { id = question.ID }, null)</td>*@



@*@foreach (var question in Model)
    {
        <div style="border:solid">
            <h2>     @Html.ActionLink(@question.Title, "AnswersForQuestion", new { id = question.ID }, null)</h2>
            <div>
                <h3>@question.Message</h3>

                <form action="QuestionDetails">
                    @Html.ActionLink("Details", "QuestionDetails", new { id = question.ID }, null)
                </form>
            </div>

            <form action="EditQuestion">
                @Html.ActionLink("Edit", "EditQuestion", new { id = question.ID }, null)
            </form>

            <form>
                <button type="submit">Delete</button>
            </form>

            <form>
                @Html.ActionLink("Write answer", "NewAnswer", new { id = question.ID }, null)
            </form>
        </div>
    }*@