
@{
    ViewData["Title"] = "List";
}
@model List<QuestionModel>

<h1>All questions:</h1>
<br />

@{
    if (Model.Count == 0)
    {
        <h1>No questions right now</h1>
    }
    else
    {
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>@Html.ActionLink("Title", "SortingByTitle", new { Model })</th>
                <th>@Html.ActionLink("Time", "SortingByTime", new { Model })</th>
                <th>@Html.ActionLink("Vote", "SortingByVote", new { Model })</th>
                <th>@Html.ActionLink("View number","SortingByView", new { Model })</th>
            </tr>

            @foreach (var question in Model)
            {
                <tr>
                    <td style="word-break:break-word">@Html.ActionLink(@question.Title, "AnswersForQuestion", new { id = question.ID }, null)</td>
                    <td>@question.TimeOfQuestion</td>
                    <td>@question.VoteNumber</td>
                    <td>@question.ViewNumber</td>
                    <td>@Html.ActionLink("Edit", "EditQuestion", new { id = question.ID }, null)</td>
                    <td> @Html.ActionLink("Write answer", "NewAnswer", new { id = question.ID }, null)</td>
                    <td>@Html.ActionLink("Delete", "DeleteQuestion", new { id = question.ID }, null)</td>
                </tr>
            }
        </table>
    }
}







@*<td>@Html.ActionLink("Details", "QuestionDetails", new { id = question.ID }, null)</td>*@



@*@foreach (var question in Model)
    {
        <div style="border:solid">
            <h2>     @Html.ActionLink(@question.Title, "AnswersForQuestion", new { id = question.ID }, null)</h2>
            <div>
                <h3>@question.Message</h3>

                <form action="QuestionDetails">
                    @Html.ActionLink("Details", "QuestionDetails", new { id = question.ID }, null)
                </form>
            </div>

            <form action="EditQuestion">
                @Html.ActionLink("Edit", "EditQuestion", new { id = question.ID }, null)
            </form>

            <form>
                <button type="submit">Delete</button>
            </form>

            <form>
                @Html.ActionLink("Write answer", "NewAnswer", new { id = question.ID }, null)
            </form>
        </div>
    }*@